archive/sharepoint-scanner-solution/RecursivePermissionScanner/extracted_check2/Workflows/RecursivePermissionScannerV01-F2E3AB22-E2BC-4920-AF40-8887A2ED6119.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "sp_sharedsharepointonline_e7162"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "recursive-scanner-trigger-001"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "SiteURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "SharePoint site URL (e.g., https://tenant.sharepoint.com/sites/yoursite)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "LibraryName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Document library name (e.g., Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "BaseLibraryPath",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Server-relative path (e.g., /sites/yoursite/Shared Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "MinimumLevel",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Minimum folder level: -1 = all levels, 0+ = specific level",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "DryRun",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "true = scan only, false = reset permissions",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varBaseDepth": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "init-base-depth-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBaseDepth",
                "type": "integer",
                "value": "@length(split(triggerBody()['text_2'], '/'))"
              }
            ]
          }
        },
        "Initialize_varFoldersWithBrokenPerms": {
          "runAfter": {
            "Initialize_varBaseDepth": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-broken-perms-array-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFoldersWithBrokenPerms",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varProcessedCount": {
          "runAfter": {
            "Initialize_varFoldersWithBrokenPerms": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-processed-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessedCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varErrorLog": {
          "runAfter": {
            "Initialize_varProcessedCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-error-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varSuccessCount": {
          "runAfter": {
            "Initialize_varErrorLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-success-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSuccessCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varFailCount": {
          "runAfter": {
            "Initialize_varSuccessCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-fail-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFailCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varLastRequestUri": {
          "runAfter": {
            "Initialize_varFailCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-last-request-uri-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLastRequestUri",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_varDiagnosticLog": {
          "runAfter": {
            "Initialize_varLastRequestUri": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-diagnostic-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDiagnosticLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "DEBUG_InputParameters": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-input-params-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "1. INPUT PARAMETERS",
            "SiteURL": "@triggerBody()['text']",
            "LibraryName": "@triggerBody()['text_1']",
            "BaseLibraryPath": "@triggerBody()['text_2']",
            "MinimumLevel": "@triggerBody()['text_3']",
            "DryRun": "@triggerBody()['text_4']",
            "CalculatedBaseDepth": "@variables('varBaseDepth')",
            "Timestamp": "@utcNow()"
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_varDiagnosticLog": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FoldersToProcess",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Get_Root_Folder_Path": {
          "runAfter": {
            "DEBUG_InputParameters": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@triggerBody()['text_2']"
        },
        "Append_to_array_variable": {
          "runAfter": {
            "Get_Root_Folder_Path": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "FoldersToProcess",
            "value": "@outputs('Get_Root_Folder_Path')"
          }
        },
        "Do_until": {
          "actions": {
            "Get_current_Folder": {
              "type": "Compose",
              "inputs": "@first(variables('FoldersToProcess'))"
            },
            "Delay": {
              "runAfter": {
                "Get_current_Folder": [
                  "Succeeded"
                ]
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": 1,
                  "unit": "Second"
                }
              }
            },
            "HTTP_Check_Permissions": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@triggerBody()['text']",
                  "parameters/method": "GET",
                  "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', outputs('Get_current_Folder'), ''')/ListItemAllFields/HasUniqueRoleAssignments')",
                  "parameters/headers": {
                    "Accept": "application/json;odata=nometadata"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Condition": {
              "actions": {
                "DEBUG_BrokenPermission": {
                  "type": "Compose",
                  "inputs": "Broken Permission found "
                },
                "Append_to_array_variable_1": {
                  "runAfter": {
                    "DEBUG_BrokenPermission": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varFoldersWithBrokenPerms",
                    "value": "@outputs('Get_current_Folder')"
                  }
                },
                "Condition_1": {
                  "actions": {
                    "Delay_1": {
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": 1,
                          "unit": "Second"
                        }
                      }
                    },
                    "HTTP_Reset_Inheritance": {
                      "runAfter": {
                        "Delay_1": [
                          "Succeeded"
                        ]
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "dataset": "@triggerBody()['text']",
                          "parameters/method": "POST",
                          "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', outputs('Get_current_Folder'), ''')/ListItemAllFields/ResetRoleInheritance()')",
                          "parameters/headers": {
                            "Accept": "application/json;odata=nometadata"
                          }
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "connectionName": "shared_sharepointonline"
                        }
                      }
                    },
                    "Increment_variable": {
                      "runAfter": {
                        "HTTP_Reset_Inheritance": [
                          "Succeeded"
                        ]
                      },
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "varSuccessCount",
                        "value": 1
                      }
                    }
                  },
                  "runAfter": {
                    "Append_to_array_variable_1": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "DEBUG_DryRunSkipped": {
                        "type": "Compose",
                        "inputs": "SKipped reset - DryRun mode"
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@triggerBody()['text_4']",
                          false
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "HTTP_Check_Permissions": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@ body('HTTP_Check_Permissions')?['value']",
                      true
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Append_to_array_variable": [
              "Succeeded"
            ]
          },
          "expression": "@equals(length(variables('FoldersToProcess')),0)",
          "limit": {
            "count": 5000,
            "timeout": "PT1H"
          },
          "type": "Until"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}