archive/sharepoint-scanner-solution/RecursivePermissionScanner/extracted/Workflows/RecursivePermissionScannerV01-F2E3AB22-E2BC-4920-AF40-8887A2ED6119.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "sp_sharedsharepointonline_e7162"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "recursive-scanner-trigger-001"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "SiteURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "SharePoint site URL (e.g., https://tenant.sharepoint.com/sites/yoursite)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "LibraryName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Document library name (e.g., Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "BaseLibraryPath",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Server-relative path (e.g., /sites/yoursite/Shared Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "MinimumLevel",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Minimum folder level: -1 = all levels, 0+ = specific level",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "DryRun",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "true = scan only, false = reset permissions",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varBaseDepth": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "init-base-depth-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBaseDepth",
                "type": "integer",
                "value": "@length(split(triggerBody()['text_2'], '/'))"
              }
            ]
          }
        },
        "Initialize_varFoldersWithBrokenPerms": {
          "runAfter": {
            "Initialize_varBaseDepth": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-broken-perms-array-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFoldersWithBrokenPerms",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varProcessedCount": {
          "runAfter": {
            "Initialize_varFoldersWithBrokenPerms": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-processed-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessedCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varErrorLog": {
          "runAfter": {
            "Initialize_varProcessedCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-error-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varSuccessCount": {
          "runAfter": {
            "Initialize_varErrorLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-success-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSuccessCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varFailCount": {
          "runAfter": {
            "Initialize_varSuccessCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-fail-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFailCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varLastRequestUri": {
          "runAfter": {
            "Initialize_varFailCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-last-request-uri-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLastRequestUri",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_varDiagnosticLog": {
          "runAfter": {
            "Initialize_varLastRequestUri": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-diagnostic-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDiagnosticLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "DEBUG_InputParameters": {
          "runAfter": {
            "Initialize_varDiagnosticLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-input-params-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "1. INPUT PARAMETERS",
            "SiteURL": "@triggerBody()['text']",
            "LibraryName": "@triggerBody()['text_1']",
            "BaseLibraryPath": "@triggerBody()['text_2']",
            "MinimumLevel": "@triggerBody()['text_3']",
            "DryRun": "@triggerBody()['text_4']",
            "CalculatedBaseDepth": "@variables('varBaseDepth')",
            "Timestamp": "@utcNow()"
          }
        },
        "Set_varLastRequestUri_GetFolders": {
          "runAfter": {
            "DEBUG_InputParameters": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "set-last-request-uri-getfolders-001"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varLastRequestUri",
            "value": "@concat(triggerBody()['text'], '/_api/web/lists/getbytitle(''', triggerBody()['text_1'], ''')/items?$select=Id,Title,FileLeafRef,FileRef,FileDirRef&$filter=FileSystemObjectType eq 1 and startswith(FileRef,''', triggerBody()['text_2'], ''')')"
          }
        },
        "DEBUG_PreRequest_GetFolders": {
          "runAfter": {
            "Set_varLastRequestUri_GetFolders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-prerequest-getfolders-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "2. PRE-REQUEST: GET ALL FOLDERS",
            "FullRequestUri": "@variables('varLastRequestUri')",
            "Method": "GET",
            "Headers": {
              "Accept": "application/json;odata=verbose",
              "Content-Type": "application/json"
            },
            "Timestamp": "@utcNow()"
          }
        },
        "Scope_GetAllFolders": {
          "actions": {
            "HTTP_Get_All_Folders": {
              "metadata": {
                "operationMetadataId": "http-get-all-folders-001"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://abctest179.sharepoint.com/sites/Permission-Scanner-Test",
                  "parameters/method": "GET",
                  "parameters/uri": "@ concat('_api/web/GetFolderByServerRelativeUrl(''', triggerBody()?['text_2'], ''')/Folders')",
                  "parameters/headers": {
                    "Accept": "application/json;odata=verbose",
                    "Content-Type": "application/json"
                  }
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "connectionName": "shared_sharepointonline"
                },
                "retryPolicy": {
                  "type": "exponential",
                  "count": 2,
                  "interval": "PT10S",
                  "minimumInterval": "PT5S",
                  "maximumInterval": "PT5M"
                }
              }
            },
            "DEBUG_GetFolders_Success": {
              "runAfter": {
                "HTTP_Get_All_Folders": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "debug-get-folders-success-001"
              },
              "type": "Compose",
              "inputs": {
                "Step": "3. GET FOLDERS - SUCCESS",
                "StatusCode": "@outputs('HTTP_Get_All_Folders')['statusCode']",
                "DiagnosticHeaders": {
                  "SPRequestGuid": "@coalesce(outputs('HTTP_Get_All_Folders')['headers']?['SPRequestGuid'], 'NOT_IN_RESPONSE')",
                  "X-SharePointHealthScore": "@coalesce(outputs('HTTP_Get_All_Folders')['headers']?['X-SharePointHealthScore'], 'NOT_IN_RESPONSE')",
                  "RateLimit-Remaining": "@coalesce(outputs('HTTP_Get_All_Folders')['headers']?['RateLimit-Remaining'], 'NOT_IN_RESPONSE')",
                  "RateLimit-Reset": "@coalesce(outputs('HTTP_Get_All_Folders')['headers']?['RateLimit-Reset'], 'NOT_IN_RESPONSE')"
                },
                "AllHeaders": "@outputs('HTTP_Get_All_Folders')['headers']",
                "Timestamp": "@utcNow()"
              }
            }
          },
          "runAfter": {
            "DEBUG_PreRequest_GetFolders": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "scope-get-all-folders-001"
          },
          "type": "Scope"
        },
        "Scope_GetAllFolders_Error": {
          "actions": {
            "DEBUG_GetFolders_FullError": {
              "metadata": {
                "operationMetadataId": "debug-getfolders-full-error-001"
              },
              "type": "Compose",
              "inputs": {
                "Step": "3. GET FOLDERS - FAILED (FULL ERROR DETAILS)",
                "RequestUri": "@variables('varLastRequestUri')",
                "StatusCode": "@coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 'NO_STATUS_CODE')",
                "ErrorType": "@if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 502), 'BAD_GATEWAY', if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 429), 'THROTTLED', if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 503), 'SERVICE_UNAVAILABLE', 'OTHER')))",
                "DiagnosticHeaders": {
                  "SPRequestGuid": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['SPRequestGuid'], 'NOT_AVAILABLE')",
                  "X-SharePointHealthScore": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], 'NOT_AVAILABLE')",
                  "Retry-After": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['Retry-After'], 'NOT_AVAILABLE')",
                  "RateLimit-Remaining": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Remaining'], 'NOT_AVAILABLE')",
                  "RateLimit-Reset": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Reset'], 'NOT_AVAILABLE')",
                  "RateLimit-Limit": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Limit'], 'NOT_AVAILABLE')",
                  "x-ms-diagnostics": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['x-ms-diagnostics'], 'NOT_AVAILABLE')",
                  "X-MSDAVEXT_Error": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-MSDAVEXT_Error'], 'NOT_AVAILABLE')"
                },
                "AllResponseHeaders": "@outputs('HTTP_Get_All_Folders')?['headers']",
                "ResponseBody": "@body('HTTP_Get_All_Folders')",
                "ActionError": "@actions('HTTP_Get_All_Folders')?['error']",
                "ActionOutputs": "@outputs('HTTP_Get_All_Folders')",
                "RetryHistory": "@actions('HTTP_Get_All_Folders')?['retryHistory']",
                "Timestamp": "@utcNow()",
                "Recommendation": "@if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 502), 'BAD_GATEWAY: Check SPRequestGuid for Microsoft support. May be transient - try again later.', if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 429), concat('THROTTLED: Wait ', coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['Retry-After'], '60'), ' seconds before retrying'), if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 503), 'SERVICE_UNAVAILABLE: SharePoint is busy. Increase delays between calls.', 'Check ResponseBody and ActionError for specific error message')))"
              }
            },
            "DEBUG_ThrottlingAnalysis": {
              "runAfter": {
                "DEBUG_GetFolders_FullError": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "debug-throttling-analysis-001"
              },
              "type": "Compose",
              "inputs": {
                "Step": "3a. THROTTLING ANALYSIS",
                "IsThrottled": "@or(equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 429), equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 503))",
                "IsBadGateway": "@equals(coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 0), 502)",
                "QuotaRemaining": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Remaining'], 'UNKNOWN')",
                "QuotaLimit": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Limit'], 'UNKNOWN')",
                "WaitTimeSeconds": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['Retry-After'], 'NOT_SPECIFIED')",
                "ResetInSeconds": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['RateLimit-Reset'], 'UNKNOWN')",
                "HealthScore": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], 'UNKNOWN')",
                "HealthInterpretation": "@if(equals(coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], 'UNKNOWN'), 'UNKNOWN'), 'Health score not available', if(less(int(coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], '100')), 50), 'POOR - SharePoint under heavy load', if(less(int(coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], '100')), 75), 'FAIR - Some load detected', 'GOOD - Normal operation')))",
                "NumberOfRetries": "@length(coalesce(actions('HTTP_Get_All_Folders')?['retryHistory'], json('[]')))",
                "RetryDetails": "@actions('HTTP_Get_All_Folders')?['retryHistory']",
                "ForMicrosoftSupport": {
                  "SPRequestGuid": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['SPRequestGuid'], 'NOT_AVAILABLE')",
                  "Timestamp_UTC": "@utcNow()",
                  "RequestUri": "@variables('varLastRequestUri')",
                  "StatusCode": "@coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 'NO_STATUS_CODE')"
                }
              }
            },
            "Append_GetFolders_Error_To_Log": {
              "runAfter": {
                "DEBUG_ThrottlingAnalysis": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "append-getfolders-error-001"
              },
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "varErrorLog",
                "value": {
                  "Action": "HTTP_Get_All_Folders",
                  "RequestUri": "@variables('varLastRequestUri')",
                  "StatusCode": "@coalesce(outputs('HTTP_Get_All_Folders')?['statusCode'], 'NO_STATUS_CODE')",
                  "SPRequestGuid": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['SPRequestGuid'], 'NOT_AVAILABLE')",
                  "HealthScore": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['X-SharePointHealthScore'], 'NOT_AVAILABLE')",
                  "RetryAfter": "@coalesce(outputs('HTTP_Get_All_Folders')?['headers']?['Retry-After'], 'NOT_AVAILABLE')",
                  "ErrorBody": "@body('HTTP_Get_All_Folders')",
                  "Timestamp": "@utcNow()"
                }
              }
            },
            "Increment_FailCount_GetFolders": {
              "runAfter": {
                "Append_GetFolders_Error_To_Log": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "increment-fail-count-getfolders-001"
              },
              "type": "IncrementVariable",
              "inputs": {
                "name": "varFailCount",
                "value": 1
              }
            }
          },
          "runAfter": {
            "Scope_GetAllFolders": [
              "Failed",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "scope-get-all-folders-error-001"
          },
          "type": "Scope"
        },
        "Condition_GetFoldersSucceeded": {
          "actions": {
            "Parse_JSON_All_Folders": {
              "metadata": {
                "operationMetadataId": "parse-json-all-folders-001"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Get_All_Folders')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "object",
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Name": {
                                "type": "string"
                              },
                              "ServerRelativeUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "DEBUG_AllFoldersFound": {
              "runAfter": {
                "Parse_JSON_All_Folders": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "debug-all-folders-001"
              },
              "type": "Compose",
              "inputs": {
                "Step": "4. FOLDERS PARSED SUCCESSFULLY",
                "TotalFolders": "@length(body('Parse_JSON_All_Folders')?['d']?['results'])",
                "SiteURL": "@triggerBody()['text']",
                "LibraryName": "@triggerBody()['text_1']",
                "BaseLibraryPath": "@triggerBody()['text_2']",
                "FoldersList": "@body('Parse_JSON_All_Folders')?['d']?['results']",
                "Timestamp": "@utcNow()"
              }
            },
            "Apply_to_each_Folder": {
              "foreach": "@body('Parse_JSON_All_Folders')?['d']?['results']",
              "actions": {
                "DEBUG_ProcessingFolder": {
                  "metadata": {
                    "operationMetadataId": "debug-processing-folder-001"
                  },
                  "type": "Compose",
                  "inputs": {
                    "Step": "5. PROCESSING FOLDER",
                    "FolderName": "@items('Apply_to_each_Folder')?['FileLeafRef']",
                    "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                    "FolderId": "@items('Apply_to_each_Folder')?['Id']",
                    "IterationNumber": "@add(variables('varProcessedCount'), 1)",
                    "Timestamp": "@utcNow()"
                  }
                },
                "Delay_Before_Check": {
                  "runAfter": {
                    "DEBUG_ProcessingFolder": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "delay-before-check-001"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 3,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP_Check_Permissions": {
                  "runAfter": {
                    "Delay_Before_Check": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "http-check-permissions-001"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@triggerBody()['text']",
                      "parameters/method": "GET",
                      "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', items('Apply_to_each_Folder')?['ServerRelativeUrl'], ''')/ListItemAllFields?$select=HasUniqueRoleAssignments')",
                      "parameters/headers": {
                        "Accept": "application/json;odata=verbose"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "connectionName": "shared_sharepointonline"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 5,
                      "interval": "PT10S",
                      "minimumInterval": "PT5S",
                      "maximumInterval": "PT5M"
                    }
                  }
                },
                "Condition_HasBrokenPerms": {
                  "actions": {
                    "DEBUG_BrokenPermission": {
                      "metadata": {
                        "operationMetadataId": "debug-broken-permission-001"
                      },
                      "type": "Compose",
                      "inputs": {
                        "Step": "6. BROKEN PERMISSIONS FOUND",
                        "FolderName": "@items('Apply_to_each_Folder')?['FileLeafRef']",
                        "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                        "FolderId": "@items('Apply_to_each_Folder')?['Id']",
                        "Level": "@sub(length(split(items('Apply_to_each_Folder')?['FileRef'], '/')), variables('varBaseDepth'))",
                        "Timestamp": "@utcNow()"
                      }
                    },
                    "Append_BrokenFolder": {
                      "runAfter": {
                        "DEBUG_BrokenPermission": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "append-broken-folder-001"
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varFoldersWithBrokenPerms",
                        "value": {
                          "Id": "@items('Apply_to_each_Folder')?['Id']",
                          "FolderName": "@items('Apply_to_each_Folder')?['FileLeafRef']",
                          "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                          "Level": "@sub(length(split(items('Apply_to_each_Folder')?['FileRef'], '/')), variables('varBaseDepth'))"
                        }
                      }
                    },
                    "Condition_DryRun": {
                      "actions": {
                        "Delay_Before_Reset": {
                          "metadata": {
                            "operationMetadataId": "delay-before-reset-001"
                          },
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": 3,
                              "unit": "Second"
                            }
                          }
                        },
                        "HTTP_Reset_Inheritance": {
                          "runAfter": {
                            "Delay_Before_Reset": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "http-reset-inheritance-001"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@triggerBody()['text']",
                              "parameters/method": "POST",
                              "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', items('Apply_to_each_Folder')?['FileRef'], ''')/ListItemAllFields/ResetRoleInheritance()')",
                              "parameters/headers": {
                                "Accept": "application/json;odata=nometadata"
                              }
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            },
                            "retryPolicy": {
                              "type": "exponential",
                              "count": 5,
                              "interval": "PT10S",
                              "minimumInterval": "PT5S",
                              "maximumInterval": "PT5M"
                            }
                          }
                        },
                        "DEBUG_ResetSuccess": {
                          "runAfter": {
                            "HTTP_Reset_Inheritance": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "debug-reset-success-001"
                          },
                          "type": "Compose",
                          "inputs": {
                            "Step": "7. RESET SUCCESS",
                            "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                            "Status": "Permissions cleared - now inherits from parent",
                            "Timestamp": "@utcNow()"
                          }
                        },
                        "Increment_SuccessCount": {
                          "runAfter": {
                            "DEBUG_ResetSuccess": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "increment-success-count-001"
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "varSuccessCount",
                            "value": 1
                          }
                        }
                      },
                      "runAfter": {
                        "Append_BrokenFolder": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "DEBUG_DryRunSkipped": {
                            "metadata": {
                              "operationMetadataId": "debug-dryrun-skipped-001"
                            },
                            "type": "Compose",
                            "inputs": {
                              "Step": "7. RESET SKIPPED (DRY RUN)",
                              "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                              "Message": "Would have reset permissions but DryRun is true",
                              "Timestamp": "@utcNow()"
                            }
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@triggerBody()['text_4']",
                          "false"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "condition-dry-run-001"
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "HTTP_Check_Permissions": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "DEBUG_NoUniquePermissions": {
                        "metadata": {
                          "operationMetadataId": "debug-no-unique-permissions-001"
                        },
                        "type": "Compose",
                        "inputs": {
                          "Step": "6. NO BROKEN PERMISSIONS",
                          "FolderPath": "@items('Apply_to_each_Folder')?['FileRef']",
                          "HasUniqueRoleAssignments": false,
                          "Message": "Folder inherits permissions from parent",
                          "Timestamp": "@utcNow()"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@body('HTTP_Check_Permissions')?['d']?['HasUniqueRoleAssignments']",
                      true
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "condition-has-broken-perms-001"
                  },
                  "type": "If"
                },
                "Increment_ProcessedCount": {
                  "runAfter": {
                    "Condition_HasBrokenPerms": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "increment-processed-count-001"
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "varProcessedCount",
                    "value": 1
                  }
                }
              },
              "runAfter": {
                "DEBUG_AllFoldersFound": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "apply-to-each-folder-001"
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          },
          "runAfter": {
            "Scope_GetAllFolders": [
              "Succeeded"
            ],
            "Scope_GetAllFolders_Error": [
              "Succeeded",
              "Skipped"
            ]
          },
          "else": {
            "actions": {
              "DEBUG_GetFoldersFailed_NoProcessing": {
                "metadata": {
                  "operationMetadataId": "debug-getfolders-failed-noprocessing-001"
                },
                "type": "Compose",
                "inputs": {
                  "Step": "4. SKIPPING FOLDER PROCESSING",
                  "Reason": "HTTP_Get_All_Folders failed - cannot process folders",
                  "CheckErrorLog": "See DEBUG_GetFolders_FullError and DEBUG_ThrottlingAnalysis for details",
                  "Timestamp": "@utcNow()"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@actions('Scope_GetAllFolders')['status']",
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "condition-getfolders-succeeded-001"
          },
          "type": "If"
        },
        "DEBUG_Summary": {
          "runAfter": {
            "Condition_GetFoldersSucceeded": [
              "Succeeded",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-summary-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "8. FINAL SUMMARY",
            "TotalFoldersScanned": "@variables('varProcessedCount')",
            "FoldersWithBrokenPermissions": "@length(variables('varFoldersWithBrokenPerms'))",
            "SuccessfulResets": "@variables('varSuccessCount')",
            "FailedOperations": "@variables('varFailCount')",
            "DryRun": "@triggerBody()['text_4']",
            "BrokenFoldersList": "@variables('varFoldersWithBrokenPerms')",
            "TotalErrors": "@length(variables('varErrorLog'))",
            "CompletedAt": "@utcNow()"
          }
        },
        "DEBUG_ErrorDetails": {
          "runAfter": {
            "DEBUG_Summary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-error-details-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "9. ERROR LOG",
            "TotalErrors": "@length(variables('varErrorLog'))",
            "ErrorLog": "@variables('varErrorLog')",
            "Message": "@if(equals(length(variables('varErrorLog')), 0), 'No errors occurred', concat(length(variables('varErrorLog')), ' error(s) occurred - see ErrorLog array above for SPRequestGuid and details'))",
            "ForMicrosoftSupport": "Include SPRequestGuid, Timestamp_UTC, and StatusCode when opening support ticket"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}