archive/sharepoint-scanner-solution/RecursivePermissionScanner/extracted_check6/Workflows/RecursivePermissionScannerV01-F2E3AB22-E2BC-4920-AF40-8887A2ED6119.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "sp_sharedsharepointonline_e7162"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "recursive-scanner-trigger-001"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "SiteURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "SharePoint site URL (e.g., https://tenant.sharepoint.com/sites/yoursite)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "LibraryName",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Document library name (e.g., Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "BaseLibraryPath",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Server-relative path (e.g., /sites/yoursite/Shared Documents)",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "MinimumLevel",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Minimum folder level: -1 = all levels, 0+ = specific level",
                  "x-ms-content-hint": "TEXT"
                },
                "text_4": {
                  "title": "DryRun",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "true = scan only, false = reset permissions",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3",
                "text_4"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_varBaseDepth": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "init-base-depth-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varBaseDepth",
                "type": "integer",
                "value": "@length(split(triggerBody()['text_2'], '/'))"
              }
            ]
          }
        },
        "Initialize_varFoldersWithBrokenPerms": {
          "runAfter": {
            "Initialize_varBaseDepth": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-broken-perms-array-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFoldersWithBrokenPerms",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varProcessedCount": {
          "runAfter": {
            "Initialize_varFoldersWithBrokenPerms": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-processed-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varProcessedCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varErrorLog": {
          "runAfter": {
            "Initialize_varProcessedCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-error-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varErrorLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varSuccessCount": {
          "runAfter": {
            "Initialize_varErrorLog": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-success-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSuccessCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varFailCount": {
          "runAfter": {
            "Initialize_varSuccessCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-fail-count-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFailCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Initialize_varLastRequestUri": {
          "runAfter": {
            "Initialize_varFailCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-last-request-uri-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varLastRequestUri",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "Initialize_varDiagnosticLog": {
          "runAfter": {
            "Initialize_varLastRequestUri": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "init-diagnostic-log-001"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varDiagnosticLog",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_variable": {
          "runAfter": {
            "Initialize_varDiagnosticLog": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "FoldersToProcess",
                "type": "array",
                "value": []
              }
            ]
          }
        },
        "Initialize_varCurrentFolder": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varCurrentFolder",
                "type": "string",
                "value": ""
              }
            ]
          }
        },
        "DEBUG_InputParameters": {
          "runAfter": {
            "Initialize_varCurrentFolder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "debug-input-params-001"
          },
          "type": "Compose",
          "inputs": {
            "Step": "1. INPUT PARAMETERS",
            "SiteURL": "@triggerBody()['text']",
            "LibraryName": "@triggerBody()['text_1']",
            "BaseLibraryPath": "@triggerBody()['text_2']",
            "MinimumLevel": "@triggerBody()['text_3']",
            "DryRun": "@triggerBody()['text_4']",
            "CalculatedBaseDepth": "@variables('varBaseDepth')",
            "Timestamp": "@utcNow()"
          }
        },
        "Get_Root_Folder_Path": {
          "runAfter": {
            "DEBUG_InputParameters": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@triggerBody()['text_2']"
        },
        "Append_to_array_variable": {
          "runAfter": {
            "Get_Root_Folder_Path": [
              "Succeeded"
            ]
          },
          "type": "AppendToArrayVariable",
          "inputs": {
            "name": "FoldersToProcess",
            "value": "@outputs('Get_Root_Folder_Path')"
          }
        },
        "Do_until": {
          "actions": {
            "Set_varCurrentFolder": {
              "type": "SetVariable",
              "inputs": {
                "name": "varCurrentFolder",
                "value": "@first(variables('FoldersToProcess'))"
              }
            },
            "Try_ProcessFolder": {
              "runAfter": {
                "Set_varCurrentFolder": [
                  "Succeeded"
                ]
              },
              "type": "Scope",
              "actions": {
                "Delay": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP_Check_Permissions": {
                  "runAfter": {
                    "Delay": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@triggerBody()['text']",
                      "parameters/method": "GET",
                      "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', variables('varCurrentFolder'), ''')/ListItemAllFields/HasUniqueRoleAssignments')",
                      "parameters/headers": {
                        "Accept": "application/json;odata=nometadata"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Condition": {
                  "actions": {
                    "DEBUG_BrokenPermission": {
                      "type": "Compose",
                      "inputs": {
                        "Message": "Broken Permission found",
                        "FolderPath": "@variables('varCurrentFolder')"
                      }
                    },
                    "Append_to_array_variable_1": {
                      "runAfter": {
                        "DEBUG_BrokenPermission": [
                          "Succeeded"
                        ]
                      },
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "varFoldersWithBrokenPerms",
                        "value": "@variables('varCurrentFolder')"
                      }
                    },
                    "Condition_DryRun": {
                      "actions": {
                        "Delay_BeforeReset": {
                          "type": "Wait",
                          "inputs": {
                            "interval": {
                              "count": 1,
                              "unit": "Second"
                            }
                          }
                        },
                        "HTTP_Reset_Inheritance": {
                          "runAfter": {
                            "Delay_BeforeReset": [
                              "Succeeded"
                            ]
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "dataset": "@triggerBody()['text']",
                              "parameters/method": "POST",
                              "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', variables('varCurrentFolder'), ''')/ListItemAllFields/ResetRoleInheritance()')",
                              "parameters/headers": {
                                "Accept": "application/json;odata=nometadata"
                              }
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "connectionName": "shared_sharepointonline"
                            }
                          }
                        },
                        "Increment_SuccessCount": {
                          "runAfter": {
                            "HTTP_Reset_Inheritance": [
                              "Succeeded"
                            ]
                          },
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "varSuccessCount",
                            "value": 1
                          }
                        }
                      },
                      "runAfter": {
                        "Append_to_array_variable_1": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {
                          "DEBUG_DryRunSkipped": {
                            "type": "Compose",
                            "inputs": "Skipped reset - DryRun mode"
                          }
                        }
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@triggerBody()['text_4']",
                              "false"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "HTTP_Check_Permissions": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@body('HTTP_Check_Permissions')?['value']",
                          true
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Delay_BeforeGetChildren": {
                  "runAfter": {
                    "Condition": [
                      "Succeeded"
                    ]
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 1,
                      "unit": "Second"
                    }
                  }
                },
                "Get_Child_Folders": {
                  "runAfter": {
                    "Delay_BeforeGetChildren": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "@triggerBody()['text']",
                      "parameters/method": "GET",
                      "parameters/uri": "@concat('_api/web/GetFolderByServerRelativeUrl(''', variables('varCurrentFolder'), ''')/Folders?$select=ServerRelativeUrl')",
                      "parameters/headers": {
                        "Accept": "application/json;odata=nometadata"
                      }
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "connectionName": "shared_sharepointonline"
                    }
                  }
                },
                "Apply_to_each": {
                  "foreach": "@body('Get_Child_Folders')?['value']",
                  "actions": {
                    "Add_Children_to_Queue": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "FoldersToProcess",
                        "value": "@items('Apply_to_each')?['ServerRelativeUrl']"
                      }
                    }
                  },
                  "runAfter": {
                    "Get_Child_Folders": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              }
            },
            "Catch_Error": {
              "runAfter": {
                "Try_ProcessFolder": [
                  "Failed",
                  "TimedOut"
                ]
              },
              "type": "Scope",
              "actions": {
                "Log_Error": {
                  "type": "Compose",
                  "inputs": {
                    "Error": "Failed to process folder",
                    "FolderPath": "@variables('varCurrentFolder')",
                    "Timestamp": "@utcNow()"
                  }
                },
                "Append_Error_to_Log": {
                  "runAfter": {
                    "Log_Error": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "varErrorLog",
                    "value": "@outputs('Log_Error')"
                  }
                },
                "Increment_FailCount": {
                  "runAfter": {
                    "Append_Error_to_Log": [
                      "Succeeded"
                    ]
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "varFailCount",
                    "value": 1
                  }
                }
              }
            },
            "Finally_Cleanup": {
              "runAfter": {
                "Try_ProcessFolder": [
                  "Succeeded",
                  "Skipped"
                ],
                "Catch_Error": [
                  "Succeeded",
                  "Skipped"
                ]
              },
              "type": "Scope",
              "actions": {
                "RemoveProcessedFolder": {
                  "type": "Compose",
                  "inputs": "@skip(variables('FoldersToProcess'), 1)"
                },
                "Set_FoldersToProcess": {
                  "runAfter": {
                    "RemoveProcessedFolder": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "FoldersToProcess",
                    "value": "@outputs('RemoveProcessedFolder')"
                  }
                },
                "Increment_ProcessedCount": {
                  "runAfter": {
                    "Set_FoldersToProcess": [
                      "Succeeded"
                    ]
                  },
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "varProcessedCount",
                    "value": 1
                  }
                }
              }
            }
          },
          "runAfter": {
            "Append_to_array_variable": [
              "Succeeded"
            ]
          },
          "expression": "@equals(length(variables('FoldersToProcess')),0)",
          "limit": {
            "count": 5000,
            "timeout": "PT1H"
          },
          "type": "Until"
        },
        "DEBUG_Summary": {
          "runAfter": {
            "Do_until": [
              "Succeeded",
              "Failed",
              "TimedOut"
            ]
          },
          "type": "Compose",
          "inputs": {
            "Step": "Final Summary",
            "TotalProcessed": "@variables('varProcessedCount')",
            "BrokenFoldersFound": "@length(variables('varFoldersWithBrokenPerms'))",
            "SuccessfulResets": "@variables('varSuccessCount')",
            "FailedOperations": "@variables('varFailCount')",
            "DryRun": "@triggerBody()['text_4']",
            "BrokenFolderList": "@variables('varFoldersWithBrokenPerms')",
            "ErrorLog": "@variables('varErrorLog')"
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
